
table {
    width: 100%;
  }
  .N-button{
  margin-left: 1100px;
  margin-bottom: 19px;
}
.button-flex{
  display: flex;
}
.button-size{
  padding-top: 1%;
  padding-left: 1%;
  width: 40px;
  height: 40px;
}