<div>
    <h2>Strategies for Overweight Individuals:</h2>
    <ul>
      <li>
        <h3>Personalized Diet Plans:</h3>
        <p>For individuals classified as overweight, personalized diet plans are an effective tool to address their weight concerns. These plans are tailored to the individual's specific needs, taking into account factors such as their current weight, height, activity level, and dietary preferences. A well-designed personalized diet plan aims to create a calorie deficit by incorporating nutrient-rich foods, controlling portion sizes, and reducing the intake of high-calorie, low-nutrient options. The plan may include a variety of fruits, vegetables, whole grains, lean proteins, and healthy fats, promoting satiety and overall well-being. Regular monitoring and adjustments to the plan, based on the individual's progress and feedback, ensure that it remains effective and sustainable.</p>
      </li>
      <li>
        <h3>Exercise Routines:</h3>
        <p>Regular physical activity is essential for weight management and overall health. In the case of overweight individuals, exercise routines play a vital role in burning excess calories, improving cardiovascular fitness, and building lean muscle mass. These routines can encompass a combination of aerobic exercises like walking, running, cycling, or swimming, along with strength training exercises that target major muscle groups. The intensity and duration of the exercise routines can be gradually increased over time as the individual becomes fitter and more comfortable. Additionally, incorporating activities that the individual enjoys, such as dancing, hiking, or playing a sport, can help make the exercise routine more enjoyable and sustainable in the long run.</p>
      </li>
      <li>
        <h3>Lifestyle Modifications:</h3>
        <p>In addition to diet and exercise, certain lifestyle modifications can greatly support weight loss efforts for overweight individuals. These modifications may include adopting healthier eating habits, such as mindful eating, reducing the consumption of processed and sugary foods, and staying hydrated. It is also important to prioritize quality sleep, as inadequate sleep can affect hunger hormones and lead to weight gain. Managing stress levels through practices like meditation, yoga, or engaging in hobbies can help prevent emotional eating or unhealthy coping mechanisms. Making conscious efforts to engage in non-sedentary activities throughout the day, such as taking the stairs instead of the elevator or incorporating regular breaks for stretching, can also contribute to an overall active lifestyle.</p>
      </li>
    </ul>
    <p>By combining personalized diet plans, exercise routines, and lifestyle modifications, individuals who are overweight can embark on a comprehensive journey towards achieving a healthier weight. It is crucial to approach these changes with patience, consistency, and a long-term perspective, as sustainable weight loss and maintenance require a holistic and balanced approach to overall well-being.</p>
  </div>
<!-- info 2   -->
<hr>
<div>
    <h2><u>Eating for Weight Loss</u></h2>
    <ul>
        <img width="600px" src="assets/overweight/overw-1.png" alt="Image Description">
      <li>
        <h3>Eat fewer calories</h3>
        <p>You and your doctor should discuss how many calories per day you should try to eat. The average goal is 1,200 to 1,500 calories per day for women, and 1,500 to 1,800 calories per day for men.[2] Your goal is to burn more calories than you eat – that's the only way to safely and effectively lose weight naturally.</p>
      </li>
      <li>
        <h3>Keep a food journal</h3>
        <p>It may help to keep a food journal. Record what you eat, how many calories you're getting from your foods, and how many servings you're eating. Remember that if the food label lists an item as 100 calories but you're eating three times the serving size, that's 300 calories.</p>
      </li>
    </ul>

    <div>
        <img width="600px" src="assets/overweight/overw-2.png" alt="Image Description">
        <ul>
          <li>
            <h3>Cut out junk food</h3>
            <p>Junk food like chips, cookies, soda, and other prepackaged items from the snack aisle contain lots of fat and sugar and quickly add to your calorie count. Limit these items in your diet as much as possible. Try to replace sugary, high-fat desserts with fresh fruit or popsicles; snack on vegetables, hummus, or nuts rather than salty snack foods.[6]</p>
          </li>
          <li>
            <h3>Limit eating takeout or fast food to once a week at most.</h3>
          </li>
        </ul>
      </div>
      <div>
        <h2><u>Getting Active</u></h2>
        <img width="600px" src="assets/overweight/overw-3.png" alt="Image Description">
        <ul>
          <li>
            <h3>Start slowly</h3>
            <p>Even a 10 minute walk every day can improve your health.[9] If you've been sedentary or overweight for a while, you may have to start slowly. Set small goals for yourself and build on them, such as, “I will take a 15 minute walk every day this week,” and, “I will increase my activity to 30 minutes, 5 days per week starting by the end of the month.” Once you start to consistently get exercise it will become a habit, making it easier to accomplish.</p>
          </li>
        </ul>
      </div>
      <div>
        <h2>Exercise for Weight Loss</h2>
        <img width="600px" src="assets/overweight/overw-4.png" alt="Image Description">
        <ul>
          <li>
            <h3>Strive to get at least 150 minutes of aerobic exercise per week</h3>
            <p>In order to lose weight when you're obese, you need to partake in at least 150 minutes of moderate-intensity exercise each week. Try to create a workout schedule that gets you moving for 30 minutes a day, at least 5 days a week. It's okay to start smaller and gradually work up to this goal.</p>
          </li>
          <li>
            <h3>What counts as a "moderate-intensity aerobic workout"</h3>
            <p>What counts as a “moderate-intensity aerobic workout” varies and can be quite creative: Walk briskly (fast enough to break a sweat), bike, swim, play tennis, dance, do workout videos at home – anything that gets your heart rate and breathing rate up and makes you sweat.</p>
          </li>
          <li>
            <h3>Consult your healthcare professional</h3>
            <p>Consult your healthcare professional about an appropriate exercise regime, especially if you have medical conditions or are over age 40 (for women) or 50 (for men).</p>
          </li>
        </ul>
      </div>
        </div>
  